<div class="sticky-top px-2 py-1">
    <div class="row bg-white rounded p-1 align-items-center m-0" @onclick="DownloadApp">
        <div class="col-2 p-0 text-center">
            <img height="40" width="30"
                 src="https://cdn4.buysellads.net/uu/7/87530/1618004014-MC_CSSTricks_Logo_600x600-3.png">
        </div>
        <div class="col">
            <div class="row pb-1">
                <div class="col text-truncate p-0">
                    <h5 class="font-weight-bold">Download mana app</h5>
                </div>
            </div>
            <div class="row pb-1">
                <div class="col text-truncate p-0 text-danger">
                    <h6 class="text-muted">Play store, App Store</h6>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private void DownloadApp()
    {
        //TODO: implement
    }
}
