@page "/address"
<DownloadAppNav />

<EditForm Model="@AddInfo">
    <DataAnnotationsValidator />
    <div class="col bg-white mb-1 py-2">
        <h6 class="font-weight-bold pb-3">กรุณาระบุชื่อ ที่อยู่ และเบอร์ติดต่อ</h6>
        <h6 class="pb-1 font-weight-bold">ชื่อ - นามสกุล</h6>
        <div class="row mb-1">
            <div class="col">
                <input type="text" class="form-control rounded-0 border-0 px-0" placeholder="ระบุชื่อบุคคลที่รับของ"
                    @bind-value="AddInfo.Name">
                <ValidationMessage For="@(() => AddInfo.Name)" />
            </div>
        </div>
        <h6 class="pb-1 font-weight-bold">ที่อยู่</h6>
        <div class="row mb-1 pb-1 border-bottom">
            <div class="col">
                <input type="text" class="form-control rounded-0 border-0 px-0"
                    placeholder="บ้านเลขที่, หมู่, ตึด, ซอย, ถนน" @bind-value="AddInfo.Add">
                <input type="text" class="form-control rounded-0 border-0 px-0" placeholder="ตำบล"
                    @bind-value="AddInfo.Subdistrict">
                <input type="text" class="form-control rounded-0 border-0 px-0" placeholder="อำเภอ"
                    @bind-value="AddInfo.District">
                <input type="text" class="form-control rounded-0 border-0 px-0" placeholder="จังหวัด"
                    @bind-value="AddInfo.Provice">
                <input type="text" class="form-control rounded-0 border-0 px-0" placeholder="รหัสไปรษณีย์"
                    @bind-value="AddInfo.ZipCode">
            </div>
        </div>
        <h6 class="pb-1 font-weight-bold">เบอร์ติดต่อ</h6>
        <div class="row mb-1 pb-1 border-bottom">
            <div class="col">
                <input type="tel" class="form-control rounded-0 border-0 px-0" placeholder="เบอร์ติดต่อ"
                    @bind-value="AddInfo.Tel">
            </div>
        </div>
        <h6 class="pb-1 font-weight-bold">อีเมล (ใช้รับบิล)</h6>
        <div class="row mb-1">
            <div class="col">
                <input type="text" class="form-control rounded-0 border-0 px-0" placeholder="อีเมล"
                    @bind-value="AddInfo.Email">
            </div>
        </div>
    </div>
    <button Type="submit" Raised="true">sUMIT</button>
</EditForm>

@code {
    private AddressInfo AddInfo = new();

}