@page "/"
@page "/shopproducts"
@inject NavigationManager NavigationManager

<DownloadAppNav />

<div class="col bg-white pt-3 px-3 pb-3 mb-1  clearfix">
    <div class="row align-items-center">
        <div class="col p-0 text-center">
            <img class="rounded-circle" height="35" width="35"
                 src="https://www.clipartmax.com/png/full/200-2001557_chrome-icon-android-kitkat-png-image-circle-real-life-examples.png"
                 alt="">
        </div>
        <div class="col-10 p-0 text-truncate">
            <h5 class="font-weight-bold">ShopName</h5>
            <h6 class="text-light"><small><span class="oi oi-basket"></span> ProductName</small></h6>
        </div>
    </div>
    <div class="col mt-2">
        <div class="row align-items-center clearfix">
            <h6 class="text-light">
                <small>
                    <span>จำนวนผู้ซื้อ : 200 คน | </span>
                    <span>
                        ความนิยม:
                        <span class="oi oi-star text-danger"></span>
                        <span class="oi oi-star text-danger"></span>
                        <span class="oi oi-star text-danger"></span>
                        <span class="oi oi-star text-danger"></span>
                        <span class="oi oi-star"></span>
                        |
                    </span>
                    <span>
                        รายละเอียดร้าน
                    </span>
                </small>
            </h6>
        </div>
    </div>
</div>

<div class="col py-2 bg-white">
    <h5 class="pb-2 font-weight-bold">รายการสินค้าแนะนำ</h5>

    <div class="row">
        <div class="col-6 mb-3 text-truncate" @onclick="GoToAddProduct">
            <img class="w-100 mb-2"
                 src="https://cdn4.buysellads.net/uu/7/87530/1618004014-MC_CSSTricks_Logo_600x600-3.png">
            <h6 class="mb-1 font-weight-bold">Product A</h6>
            <h6 class="text-danger">Detail 1, Detail 2</h6>
        </div>
        <div class="col-6 mb-3 text-truncate" @onclick="GoToAddProduct">
            <img class="w-100 mb-2"
                 src="https://cdn4.buysellads.net/uu/7/87530/1618004014-MC_CSSTricks_Logo_600x600-3.png">
            <h6 class="mb-1 font-weight-bold">Product B</h6>
            <h6 class="text-danger">Detail 1, Detail 2</h6>
        </div>
        <div class="col-6 mb-3 text-truncate" @onclick="GoToAddProduct">
            <img class="w-100 mb-2"
                 src="https://cdn4.buysellads.net/uu/7/87530/1618004014-MC_CSSTricks_Logo_600x600-3.png">
            <h6 class="mb-1 font-weight-bold">Product C</h6>
            <h6 class="text-danger">Detail 1, Detail 2</h6>
        </div>
    </div>
</div>

@code {
    private void GoToAddProduct()
    {
        //TODO: Implement
        NavigationManager.NavigateTo("addproduct");
    }
}
